:root {
    --blue: #1c3c94;
    --darkblue: #0D1C45;
    --light-gray: #e4e4e4;
    --white: #fff;
    --transparent: rgba(255, 255, 255, 0.6);
    --dark-gray: rgb(35, 35, 35);
    --opacity: rgba(255, 255, 255, 0.7);
    --error: #a3a3a3;
    --success: #8bbd00;
    scroll-behavior: smooth;
}

/*------------------------------------------------smartphones--------------------------------------------------------------------------*/
/*--general-----------------------------------*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}


/*--typography--------------------------------*/
p,
input,
textarea {
    font-family: "PT Sans", sans-serif;
    color: var(--dark-gray);
    line-height: 150%;
}

h3,
h5,
h6,
nav,
button,
label,
span {
    font-family: "Poppins", sans-serif;
    color: var(--blue);
}



h3,
h4,
h5 {
    font-size: clamp(1rem, 0.93rem + 0.3vw, 1.25rem);
}

body {
    min-height: 1000px;
    width: 100vw;
    background-color: var(--white);
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    margin: auto;
    background-color: var(--white);
    overflow: hidden;
}


/*--header-------------------------------------------------------------------------------------------------------------------------*/
.header {
    position: fixed;
    width: 90vw;
    height: 70px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/*--nav----------------------------------------------------------------------------------------------------------------------------*/
.header__navigation {
    position: relative;
}

.header__menu-container {
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: var(--opacity);
    border: 2px solid transparent;
    border-radius: 0 0 0 5px;
    padding: 1.5em;
    top: -30px;
    right: -300px;
    z-index: 1500;
    transition: transform 1.2s ease-in-out 1.2s, height 1.8s ease-in-out;
}

.header__menu-container.active {
    transform: translateX(-300px);
    height: 170px;
    transition: transform 1s ease-in-out, height 2s ease-in-out;
}

.header__menu {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.header__menu-item-wrapper {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1.8s ease-in-out;
}

.header__menu-item {
    font-size: 1rem;
    background-color: transparent;
    padding: 0.8em;
    cursor: pointer;
    border: 2px solid var(--blue);
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out 0.6s;
}

.header__menu-item:hover {
    transform: scale(1.038) perspective(0px) translateZ(0);
    backface-visibility: hidden;
}

.active .header__menu-item {
    opacity: 1;
}


.active .header__menu .header__menu-item-wrapper {
    opacity: 1;
    transition: transform 1.8s ease-in-out 0.5s, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*--hamburger----------------------------------------------------------------------------------------------------------------------*/
.header__hamburger-container {
    display: inline-block;
    position: absolute;
    height: 30px;
    background-color: transparent;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__hamburger-icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: 1.2s ease-in-out 1.2s;
}

.active .header__hamburger-icon {
    transform: translateX(-300px);
    transition: 1s ease-in-out;
}

.header__hamburger-line {
    position: absolute;
    display: inline-block;
    width: 60%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--blue);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.1s ease-in-out 0.2s;
}

.header__hamburger-line::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 150%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--blue);
    right: 0;
    top: -9px;
    transition: 0.5s ease-in-out;
}

.header__hamburger-line::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 150%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--blue);
    right: 0;
    top: 9px;
    transition: 0.5s ease-in-out;
}

/*--hamburger--active*/
.active .header__hamburger-line {
    background-color: transparent;
}

.active .header__hamburger-line::before {
    transform: translateY(9px) rotate(45deg);
}

.active .header__hamburger-line::after {
    transform: translateY(-9px) rotate(-45deg);
}

/*--hero---------------------------------------------------------------------------------------------------------------------------*/
.main__hero {
    position: fixed;
    top: 70px;
    width: 100vw;
    height: 90vh;
    background-color: transparent;
    padding: 5vw;
    margin: auto;
    overflow: hidden;
}

.main__hero::after {
    content: "";
    background: transparent url(./components/images/landing-image-horizontal.jpg) no-repeat;
    background-size: cover;
    background-position: center 0px;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90vh;
    width: 100%;
    position: absolute;
}

.main__hero-header {
    font-family: "Poppins", sans-serif;
    color: var(--blue);
    font-size: 3rem;
    opacity: 1;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.main__hero-header::after {
    content: 'Kopie & reprinty muzealne';
    font-family: "Poppins", sans-serif;
    color: var(--blue);
    opacity:0.5;
    font-size: 3rem;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

/*--services----------------------------------------------------------------------------------------------------------------*/
.main__articles {
    z-index: 6;
    position: relative;
    width: 100%;
}

.main__article {
    display: grid;
    grid-template-columns: 30vw 1fr;
    align-items: center;
}

.main__article--about {
    margin-top: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    min-height: 40vh;
    grid-template-columns: 30vw 1fr;
    align-items: center;
}

.main__article--products {
    background-color: rgba(255, 255, 255, 0.8);
}

.main__article-title-container {
    padding-left: 1.5rem;
}

.main__article-title {
    font-family: "Poppins", sans-serif;
    color: var(--blue);
    font-size: 3rem;
}

.main__section-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: var(--blue);
    position: relative;
}

.main__section-title::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 35px;
    background-image: url(./components/images/manicule.svg);
    background-size: cover;
    position: absolute;
    left: -45px;
    top: 10px;
}

.main__section-paragraph {
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--dark-gray);
    line-height: 150%;
    margin-bottom: 1em;
}

/*--gallery------------------------------------------------------------------------------------------------------------------*/

.main__gallery-container {
    position: relative;
    width: 100%;
    background-color:rgba(255,255,255);
    height:100vh;
}

.main__gallery{
    position: absolute;
    display:flex;
    flex-flow: column nowrap;
    width:70%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color: transparent;
    height:80%;
    overflow: hidden;
}

.main__gallery-carousel-container{
background-color: transparent;
height:90%;
width:100%;
}

.main__gallery-carousel{
    position: relative;
    height:100%;
    width:100%;
    background-color:var(--blue);
    border:transparent;
    border-radius:5px;
    transition: 0.5s ease-in-out;
}

.main__gallery-carousel-slide{
position:absolute;
height:100%;
width:100%;
}

.main__gallery-image{
width:100%;
height:100%;
object-fit:cover;
}

.main__gallery-btn-container{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background-color:rgba(255,255,255,0.8);
    border:transparent;
    padding:5px;
    cursor: pointer;
    transition:0.3s ease-in-out;
}

.main__gallery-btn-container--prev{
    border-radius: 0px 5px 5px 0;
    left:0;
    opacity:0;
}

.main__gallery-btn-container--next{
    border-radius: 5px 0 0 5px;
    right:0;
}

.main__gallery-btn {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.main__gallery-btn--prev::before,
.main__gallery-btn--next::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid var(--blue);
    border-left: 2px solid var(--blue);
}

.main__gallery-btn--prev::before {
    top: 11px;
    left: 12px;
    transform: rotate(-45deg);
}

.main__gallery-btn--next::before {
    top: 11px;
    left: 10px;
    transform: rotate(135deg);
}
.main__gallery-nav{
    height:10%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
}
.main__gallery-nav-indicator {
    position: relative;
    width: 24px;
    height: 3px;
    margin: 0 4px;
    cursor: pointer;
    background-color: #b5b3b3;
    outline: none;
    border: none;
    transition: 0.3s ease-in-out;
}


.main__gallery-nav-indicator::after{
    content:"";
    position:absolute;
    width:24px;
    height:24px;
    background:transparent;
    top:50%;
    left:0;
    transform:translateY(-50%);
}

.main__gallery-nav-indicator.active {
    background-color: var(--blue);
}

.is-hidden{
    display:none;
}
/*--contact------------------------------------------------------------------------------------------------------------------*/
.main__contact-icon {
    width: 30px;
    z-index: 1000;
}

.main__contact-anchor {
    z-index: 1000;
}

.main__contact-paragraph {
    font-family: "PT Sans", sans-serif;
    font-size: clamp(1rem, 0.93rem + 0.3vw, 1.25rem);
    line-height: 150%;
    color: var(--white);
    padding-left: 0.5rem;
}

.main__contact-container {
    background-color: transparent;
    display: grid;
    min-height: 40vh;
    grid-template-columns: 30vw 1fr;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.main__contact {
    position: relative;
    background: var(--blue) url(./components/images/interior.JPEG) no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
}

.main__contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    mix-blend-mode: multiply;
}

.main__contact-title {
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.05em;
    color: var(--white);
    z-index: 500;
}

.main__contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

.main__contact-icon-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem;
}

.main__article-container--contact-form {
    height: 100%;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}

.main__article-container--contact-form::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 8px solid var(--blue);
    border-radius: 50%;
    top: 200px;
    left: -20px;
    transform: rotate(45deg);
}

.main__form {
    padding: 4em;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.main__form-header {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: var(--blue);
    margin-bottom: 0.5em;
}

.main__form-input-container {
    position: relative;
    margin: 2em 0;
}

.main__form-span--alert {
    display: block;
    font-family: "PT Sans", sans-serif;
    color: red;
    font-size: 1.4rem;
    margin-top: 0.3em;
    display: block;
}

.main__form-label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--blue);
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    pointer-events: none;
    z-index: 50;
    transition: 0.5s;
    top: 1.2em;
}


.main__form-input {
    width: 100%;
    outline: none;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    padding: 0.3em;
    color: var(--dark-gray);
    font-size: 1.6rem;
    transition: 0.3s;
}

.main__form-input--textarea {
    width: 100%;
    outline: none;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    padding: 0.3em;
    color: var(--dark-gray);
    font-size: 1.6rem;
    transition: 0.3s;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

.main__form-input--submit {
    padding: 0.75em 1.5em;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 0.5s;
}

.main__form-input--submit:hover {
    background-color: var(--blue);
    color: var(--white);
}

.main__form-span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 0 0.5em;
    color: transparent;
    pointer-events: none;
    z-index: 500;
    background-color: transparent;
}

.main__form-span::before,
.main__form-span::after {
    content: "";
    width: 10%;
    opacity: 0%;
    transition: 0.5s;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: inline-block;
    background-color: var(--white);
}

.main__form-span::before {
    left: 50%;
}

.main__form-span::after {
    right: 50%;
}

.focus .main__form-label {
    top: 0;
    transform: translateY(-50%);
    left: 33px;
    font-size: 1.5rem;
    z-index: 5000;
}

.focus .main__form-span::before,
.focus .main__form-span::after {
    width: 50%;
    opacity: 1;
}

/*--clients-icons-container-------------------------------------------------------------------------------------------------*/

.main__clients-container {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.clients__icons-container {
    height: 250px;
    margin: 0 30px;
    background-color: transparent;
    z-index: 1500;
}

.clients__icons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 30vh;
    justify-content: space-evenly;
}

.clients__icon {
    display: block;
    width: 200px;
    height: 120px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 2em;
    transition: all 0.5s ease-in-out 0.1s;
    z-index: 1000;
}

.client-icon:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

/*--social-media-container--------------------------------------------------------------------------------------------------*/
.social-media__icons-container {
    position: fixed;
    width: 50px;
    height: 178px;
    left: 5vw;
    bottom: 10vh;
    overflow: hidden;
    z-index: 1000;
}

.social-media__icons {
    position: absolute;
    left: 0;
    width: 50px;
    height: 178px;
    background-color: var(--opacity);
    border: 2px solid transparent;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.8s ease-in-out 0.2s;
}

.social-media__icons.scroll {
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.8s ease-in-out;
}

.social-media__icon {
    background-color: transparent;
    width: 38px;
    height: 38px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
}

.social-media__icon:hover {
    transform: scale(1.1);
}


.social-media__icon--top::after,
.social-media__icon--middle::after,
.social-media__icon--middle::before,
.social-media__icon--bottom::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 15px;
    background-color: var(--blue);
    left: 50%;
    transform: translateX(-50%);
}

.social-media__icon--middle::before,
.social-media__icon--bottom::before {
    top: -15px;
}

.social-media__icon--top::after,
.social-media__icon--middle::after {
    top: 34px;
}

/*--footer-----------------------------------------------------------------------------------*/
.footer {
    position: relative;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__copyright-container{
    color:green;
}

.footer__copyright-header {
    color: var(--blue);
}

.footer__company-info-container{
    color:green;
}

.footer__company-info {
    color: var(--blue);
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 0.75rem;
}

/*----------------------------------------------------------------------tablet&desktop-------------------------------------------------*/
@media (min-width: 481px) {
    .wrapper {
        width: 90vw;
    }

    .main__hero {
        width: 90vw;
    }

    .main__hero-header {
        white-space: nowrap;
    }
}